Learning/.vscode
Learning/C_Primer_Plus\(book\)/.vscode
Learning/C_Primer_Plus\(book\)/Chapter8/.vscode
Learning/C_Primer_Plus\(book\)/a.out
Learning/C_Primer_Plus\(book\)/polygon.c
Learning/C_Primer_Plus\(book\)/main_p.c 
Learning/C_Primer_Plus\(book\)/Chapter10/a.out